name:  CI

on:
  push:
    braches:  ["main"]
  pull_request:
    braches:  ["main"]

jobs:
  build:
    runs-on:  ubuntu-latest

    steps:
      - name:  Checkout code
        uses:  actions/checkout@v3

        #Backend setup
      - name:  Install backend dependencies
        working-directory:  ./Backend
        run:  npm install

        #frontend setup
      - name:  Install frontend dependencies
        working-directory:  ./Ecommerce-page
        run:  npm install

        #Frontend Build
      - name:  Build frontend
        working-directory:  ./Ecommerce-page
        run:  npm run build